/************   INDHOLDSFORTEGNELSE  **************/
/************   1. GENERELT  **********************/
/************   2. HEADER OG FOOTER  **************/
/************   3. FORSIDE  ***********************/
/************   4. UDFORSK ************************/
/************   5. POP OP *************************/
/************   6. OM      ************************/
/************   7. MEDIA  Q  **********************/






/************   1. GENERELT  **********************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
}

/************   2. HEADER OG FOOTER  **************/

/*** header *********************/

.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

#menuknap {
    height: 0em;
    margin: 1px 15px;
    font-size: 3rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#menu {
    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top left;
    height: 50vh;
    width: 100vw;
}

#menu.hidden {
    height: 0px;
}

#menu a {
    text-decoration: none;
    font-size: 3em;
    font-weight: 300;
}



/*** Footer *********************/

footer {
    background: yellow;
}

/************   3. FORSIDE  ***********************/

/**********s**   4. UDFORSK ************************/

#liste {
    width: 90vw;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/************   5. POP OP *************************/

/************   6. OM      ************************/

/************   7. MEDIA  Q  **********************/

@media (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
        height: 3em;
        text-align: right;
        overflow: hidden;
        padding-top: 10px;

    }

    #menu li {
        display: inline-block;
    }

    #menu a {
        text-decoration: none;
    }
